.header {
  color: var(--White-01, #fff);
  font-size: 4rem;
  font-weight: 400;
  line-height: normal;
}

.paragraph {
  color: #cbcbcb;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 187.5% */
}

.button {
  display: flex;
  padding: 0.9375rem 1.875rem;
  align-items: center;
  border-radius: 6.25rem;
  border: 1px solid #eb5757;
  color: #eb5757;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.button:hover {
  background-color: #eb5757;
  color: #fff;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.carouselContainer {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;

  .contentContainer {
    .titleContainer {
      padding: 0 0 2rem 0;
    }

    .descriptionContainer {
      padding: 0 0 2rem 0;
    }
  }

  .imagesContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 35rem;

    .firstContainer {
      z-index: 2;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .first {
        width: clamp(20rem, 22.5vw, 25rem);
        height: auto;
        border: 5px solid #eb5757;
        border-radius: 2rem;
      }
    }

    .secondContainer {
      z-index: 1;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .second {
        width: clamp(20rem, 22.5vw, 25rem);
        height: auto;
        border: 5px solid #eb5757;
        border-radius: 2rem;
      }
    }

    .thirdContainer {
      z-index: 0;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .third {
        width: clamp(20rem, 22.5vw, 25rem);
        height: auto;
        border: 5px solid #eb5757;
        border-radius: 2rem;
      }
    }

    .controls {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 10rem;
      z-index: 3;
      transform: translateY(5rem);

      .previousContainer,
      .nextContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: solid 2px transparent;
        transition: border-color 0.3s ease, transform 0.3s ease;
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 6.25rem;
      }

      .previousContainer:hover,
      .nextContainer:hover {
        border-color: #eb5757;
        transform: scale(1.05);
        border-radius: 6.25rem;
      }

      .disabled {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: solid 2px transparent;
        transition: border-color 0.3s ease, transform 0.3s ease;
        height: 4.5rem;
        width: 4.5rem;
        cursor: inherit;
        border-radius: 6.25rem;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .carouselContainer {
    padding: 0 5vw;
  }
}

@media screen and (max-width: 950px) {
  .carouselContainer {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;

    .contentContainer {
      padding: 5rem 0 5rem 0;
    }

    .imagesContainer {
      padding: 0 0 5rem 0;

      .controls {
        padding: 0 0 4rem 0;
      }
    }
  }
}
